@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor {

    display: grid;
    grid-template-columns: 250px 1fr;
}

.contenido {

    grid-column: 2/2;
    padding: 80px 80px 0 80px;

    &__titulo {

        display: flex;
        align-items: end;
        justify-content: space-between;
        border-bottom: 1px solid v.$verde9;
        padding-bottom: 5px;
    }

    &__titulo-texto {

        color: v.$verde9;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__titulo-campobuscar {

        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
    }

    &__titulo-inputbuscar {

        margin-right: 8px;
        font-size: 14px;
        color: v.$verde9;
        border: 1px solid v.$verde6;
        border-radius: 6px;
        padding: 4px 10px;
    }

    &__titulo-iconobuscar {
        width: 20px;
        height: 20px;
        fill: v.$verde9;
    }

    &__subtitulo {

        color: v.$verde9;
        font-size: 14px;
        margin: 20px 0;
    }

    &__filtros {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__filtros-contenedor {

        margin-right: 10px;
    }

    &__filtros-label {

        margin-right: 5px;
        font-size: 14px;
        color: v.$verde9;
    }
      
    &__filtros-select {
    
        margin-right: 10px;
        font-size: 14px;
        color: v.$verde9;
        border: 1px solid v.$verde6;
        border-radius: 6px;
        padding: 7px 4px 7px 4px;
    }

    &__filtros-aceptar {

        padding: 10px 30px;
        background-color: v.$verde5; 
        color: white; 
        border: none;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        &:hover {

            background-color: v.$verde6; 
        }
    }
}

.noticias {

    display: grid;
    grid-template-columns: 300px auto;
    margin-bottom: 20px;

    &__imagen {

        width: 300px;
        height: 160px;
        grid-column: 1/2;
    }

    &__contenido {

        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        padding: 10px 20px;
    }

    &__titulo {

        font-size: 14px;
        font-weight: v.$bold;
        color: v.$verde9;
        margin: 0;
        margin-bottom: 10px;
    }

    &__info {

        display: flex;
        gap: 8px;
        font-size: 14px;
        font-weight: v.$regular;
        color: v.$verde9;
        margin: 0;
        margin-bottom: 10px;
    }

    &__info-texto {

        margin: 0;
    }

    &__texto {

        font-size: 14px;
        font-weight: v.$regular;
        color: v.$verde9;
        margin: 0;
        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;

    }
}