@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {

    width: 250px;
    height: 100vh;
    background-color: v.$verde3;
    padding: 8px;
    box-sizing: border-box;
    position: fixed; 
    top: 0; 
    left: 0; 
    overflow-y: auto;
    color: v.$verde11;
    grid-column: 1/2;
  
    &__titulo {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: v.$bold;
    }

    &__titulo-feeds {
        font-size: 12px;
        font-weight: v.$bold;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__botones {

        display: flex;
        justify-content: space-around;
    }

    &__boton {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__boton-icono {
        width: 50px;
        height: 50px;
        fill: white;
        background-color: v.$verde6;
        padding: 12px;
        border-radius: 100%;
    }

    &__boton-texto {
        margin-top: 5px;
        font-size: 12px;
        font-weight: v.$bold;
        text-decoration: none;
        color: v.$verde6;
    }
}

.feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &__contenedor-imagen {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &__nombre {
        font-size: 12px;
    }

    &__cantidad-noticias {
        font-size: 12px;
        margin-left: auto;
    }
}
